/* Login */
.content-main {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Mono', monospace;
}

.content-acess {
    width: 40vw;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0 0 0.3rem #00000090;
    background-color: #FFF;
}

.content-acess > img {
    width: 7vw;
}

.content-login {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 20px;
}

.content-login > label {
    margin-top: 5px;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;;
}

.content-login > input {
    width: 30vw;
    height: 5vh;

    outline: 1px solid #CCC;
    border: none;
    border-radius: 10px;

    color: #000;
}

.content-login > input:hover {
    outline: 1px solid #6366F1;
}

.content-login > input::placeholder {
   color: rgb(105, 105, 105);
   
}

#acess-button {
    background-color: #6366F1;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;

    margin-top: 30px;
}

#acess-button:hover {
    background-color: #4F46E5;
}
/* Fim Login */



/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    opacity: 0;
    z-index: -1;
}

.modal.active {
    opacity: 1;
    z-index: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55vw;
    height: 56vh;
    margin: 15vh auto;
    background-color: #CCC;
    box-shadow: 1px 1px 10px #000;
}

.modal-header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 60px;
    line-height: 60px;
    font-size: 1.3rem;
    background-color: rgba(8, 8, 8, 0.89);
    color: #FFF;
}

.modal-close {
    position: absolute;
    right: 0;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
}

.modal-close:hover {
    background-color: #FF4949;
    color: #FFF;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 20px;
}

.modal-form > input {
    width: 35vw;
    height: 4vh;
    
    border: none;
    outline: 1px solid #6366F1;
    border-radius: 10px;
}

.modal-form > input:focus {
    box-shadow: 1px 1px 15px #6366F1;
}

.modal-footer {
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
}

.modal-footer > button {
    margin-top: -5px;
    width: 10vw;
    height: 4vh;
    cursor: pointer;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: 700;
}

.button-save {
    background-color: #13CE66;
}

.button-save:hover {
    background-color: #2DA563;
}

.button-cancel {
    background-color: #FF4949;
}

.button-cancel:hover {
    background-color: #BB4E4E;
}

@media(max-width: 480px) {
    .modal {
        top: 100%;
        transition: all 1s ease;
    }

    .modal.active {
        top: 0;
    }

    .modal-content {
        margin: 0;
        width: 100%;
        position: fixed;
    }

    .modal-field {
        width: 100%;
    }
}
/* Fim Modal */